body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ff3abda5;
    color: rgba(245, 245, 245, 0.804);
}

h2 {

    text-align: center;
}

.cupcake {
    display: flex;
}

.flex1 {
    /* flex : 1 */
}

.flex2 {
    flex : 2
}

.pl1 {
    padding-left: 1em;
}

.img {
    align-self: flex-start;
    height: auto; 
    max-width: 100%;
}


.cupcake_box {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.cupcake1 {
    background-color: #00ff55d2;
}

.cupcake2 {
    background-color: #0750fbc6;
}

.cupcake3 {
    background-color: #38ec6bc0;
}
.cupcake4 {
    background-color: #384aec76;
    height: auto;
}

.blue {
    background-color: #ff3aa3d2;
}